{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container container-account h-100">
    <div class="row align-items-center h-100">
        <div class="col-xs-12 col-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-body px-4">
                    <h2 class="card-title text-center display-4">{% trans "Sign Up" %}</h2>
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
