/* ---------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:wght@300&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

/* to ensure that fixed navbar does not cover content */
body { 
    padding-top: 56px; 
}


/* -------------------------------- Navbar */

.bg-black {
    background-color: black;
}

.navbar-nav {
    text-transform: uppercase;
}


/* ---------------------------------- Main */

.container-main {
    background: black;
}


/* home */

.jumbotron {
    background-color: transparent;
    color: white;
}

.jumbotron h1{
    font-family: 'Meow Script', cursive;
    font-size: 10rem;
}

.jumbotron > p > span {
    font-family: 'Meow Script', cursive;
    font-size: 2rem;
}    

.rotate{
    transform: rotate(-10deg);
}

/* footer */

.logo {
    font-family: 'Meow Script', cursive;
    font-size: 3rem;
}


/* authentication pages */

.container-account {
    background-color: #f2ece8;
    height: 100%;
}

.card {
    background-color:#ffffff;
    border: 2px solid  #91672C;
    color: #131217;
    margin: 2rem;
    padding: 1.5rem;
}

.card-title {
    font-family: 'Meow Script', cursive;
    color: #523D19;
}

.card-body button {
    background-color: #523D19;
    color: #f2ece8;
}



/* --------------------------Media Queries */

/* Display background image on devices ≥576px*/
@media screen and (min-width: 576px) {
    .hero-image {
        background: url('/static/images/hero.png') no-repeat center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: left;
    }
}
