/* ---------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:wght@300&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    /* to ensure that fixed navbar does not cover content */
    padding-top: 56px;
}

.bg-black {
    background-color: black;
}

.bg-cream {
    background-color: #f2ece8;
}

/* -------------------------------- Navbar */

.navbar-nav {
    text-transform: uppercase;
}


/* ---------------------------------- Main */

/* ----- home ----- */

.container-home {
    background-color: black;
    padding-right: 0px;
    padding-left: 0px;
}

/* hero section */

.hero-content {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 20%;
    left: 10%;
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.jumbotron h1 {
    font-family: 'Meow Script', cursive;
    font-size: 6rem;
}

.rotate {
    transform: rotate(-10deg);
}

/* ---- footer -----*/

.logo {
    font-family: 'Meow Script', cursive;
    font-size: 3rem;
}

/* authentication pages */

.container-account {
    background-color: #f2ece8;
    min-height: 55vh;
}

.card {
    background-color: #ffffff;
    border: 2px solid #91672C;
    color: #131217;
    margin: 2rem;
    padding: 1.5rem;
}

.card-title {
    font-family: 'Meow Script', cursive;
    color: #523D19;
}

.card-body button {
    background-color: #523D19;
    color: #f2ece8;
}

.btn-custom {
    background-color: #523D19;
    color: #f2ece8;
}

.card a:hover {
    background-color: #f2ece8;
    border: 2px solid #523D19;
}