/* ---------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat:wght@300&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.container-main {
    background: black;
}


/* Display background image on devices ≥576px*/

@media screen and (min-width: 576px) {
    .hero-image {
        background: url('/static/images/hero.png') no-repeat center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: left;
    }
}
